name: keep-streamlit-awake

on:
  schedule:
    - cron: "*/10 * * * *"   # 10분마다 실행

jobs:
  ping:
    runs-on: ubuntu-latest
    steps:
      - name: Curl request
        run: curl -L https://your-app.streamlit.app
