name: keep-streamlit-awake

on:
  workflow_dispatch:
  schedule:
    - cron: "*/10 * * * *"

jobs:
  ping:
    runs-on: ubuntu-latest
    steps:
      - name: Ping (no redirect)
        run: |
          URL="https://dividend-analysis-project-singaseong96.streamlit.app/"
          curl -sS -I -A "Mozilla/5.0" "$URL"
