name: keep-streamlit-awake

on:
  schedule:
    - cron: "*/10 * * * *"

jobs:
  ping:
    runs-on: ubuntu-latest
    steps:
      - name: Curl request
        run: |
          URL="https://dividend-analysis-project-singaseong96.streamlit.app/"
          curl -sS -L --max-redirs 5 -A "Mozilla/5.0" -o /dev/null -w "%{http_code}\n" "$URL"
